# Dependencies
node_modules/
package/node_modules/

# Expo
.expo/
package/.expo/
dist/
package/dist/
web-build/
package/web-build/
expo-env.d.ts
package/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Local env files
.env*.local

# TypeScript
*.tsbuildinfo

# Generated native folders
/ios
/android
package/ios
package/android

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs
*.log

# OS
Thumbs.db

# npm cache
.npm-local-cache/
package/.npm-local-cache/

